<div class="footer">
  <ul class="footerlist">
    <li><a class="social-link" href="mailto:t.rondio@free.fr"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    <li><a class="social-link" href="tel:+33649840679" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a class="social-link" href="http://www.thomasrondio.com" target="_blank"><p>Site créé par TR</p></a></li>
  </ul>
</div>

