<div class="container home" >
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1>Editing Announce</h1>

      <%= render 'form', search: @search, announce: @announce %>

      <%= link_to 'Show', search_announce_path(@announce) %> |
      <%= link_to 'Back', search_announces_path %>
    </div>
  </div>
</div>
