<div class="container home" >
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1>Modifier l'annonce</h1>

      <%= render 'form', user: @user, search: @search, announce: @announce %>

      <%#= link_to 'Show', user_search_announce_path(@user, @search, @announce) %> |
      <%= link_to 'Back', user_search_announces_path %>
    </div>
  </div>
</div>
