<div class="banner" style="background-image: linear-gradient(135deg, rgba(230,240,163,0.4) 0%,rgba(251,232,211,0.4) 100%,rgba(219,240,67,0.4) 100%), url('http://www.planete-deco.fr/wp-content/uploads/2012/01/ADUP2.jpg');">
  <div class="banner-content">
    <h1>Trouvez l'appartement de vos rêves</h1>
    <!-- <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Dites-nous ce que vous cherchez</a> -->
    <%= link_to 'Dites-nous ce que vous cherchez', new_user_registration_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">Soumettez-nous votre recherche</h3>
        <h6 class="text-center">Nous reviendrons vers vous sous 48h, pour notre premier rendez-vous.</h6>
      </div>
      <div class="modal-body">
        <%#= render 'searches/form', search: @search %>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card" id="blue" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <div class="card-description">
          <h1>Créez un compte</h1>
          <p>Facilement avec facebook, ou avec votre email</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card" id="red" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <div class="card-description">
          <h1>Entrez votre recherche</h1>
          <p>Une seule fois !</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card" id="orange" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <i class="fa fa-search" aria-hidden="true"></i>
        <div class="card-description">
          <h1>Lancer les recherches</i></h1>
          <p>Sur seLoger et leboncoin</p>
<!--           <img src="http://static.ladepeche.fr/content/media/image/zoom/2016/02/10/yuwarsf1-fe735114026-original.jpg" alt="" class="logo-partner">
          <img src="http://bimby.fr/sites/bimby.fr/files/styles/lightbox/public/field/image/03926348-photo-seloger-logo.jpg?itok=g-OVxIly" alt="" class="logo-partner"> -->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card" id="green" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <i class="fa fa-share-square" aria-hidden="true"></i>
        <div class="card-description">
          <h1>Partagez</i></h1>
          <p>Avec vos proches les annonces qui vous plaisent</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card" id="grey" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <div class="card-description">
          <h1>Contacter toutes les agences</i></h1>
          <p>Par arrondissements, en écrivant un seul email</p>
        </div>
      </div>
    </div>
  </div>
</div>
