<div class="container home" >
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Nouvelle recherche</h1>

      <%= render 'form', search: @search %>

      <%= link_to 'Back', searches_path %>
    </div>
  </div>
</div>



