// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.regnew {
  margin-top: 0px;
  h1 {
    font-size: 32px;
    text-align: center;
  }
}
